<div id="app">
    @Html.Raw(ViewBag.PageContent)
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.min.js" type="text/javascript"></script>
<script src="~/app/generated/client.bundle.js"></script>